body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #68e6cd, #82b9d8, #91a0e1);
    display: flex;
    justify-content:center;
    align-items: center;
}

.wadah{
    width: 100%;
    max-width: 600px;
}

.form{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
}

.form h1{
    margin-bottom: 20px;
}

label{
    display: block;
    text-align: left;
    font-weight: bold;
    margin-top: 10px;
}

input,select,textarea{
    width: 100%;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

button{
    width: 100%;
    padding: 5px ;
    background-color: #06a21d;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
}

button:hover{
    background-color:rgb(20, 89, 9) ;
}

