/* Mengatur keseluruhan web */
* {
    font-family: "Poppins", sans-serif;
}

/* Mengatur ukuran header dan posisi dari header */
.header {
    background-color: white;
    display: flex;
    position: sticky;
    width: 100%;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    padding: 10px 50px;
}



/* Mengatur posisi elemen di dalam header */
#menu-nav {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
}

/* Megatur tampilan button */
#menu-nav > a {
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

#menu-nav > a:hover,
#menu-nav > a.active {
    background-color: black;
    padding: 12px;
    font-size: 16px;
    color: white;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.3);
}

/* Mengatur kalimat di dalam button agar menjadi hitam dan tidak ada garis bawah */
a {
    text-decoration: none;
    color: black;
}

.main-content {
    padding: 30px 50px;
}

#office {
    line-height: 1.5; 
    color: darkgray; 
    padding-right: 26%; 
    text-align: justify; 
}
